body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #FFFFFF;;
    margin: 0;
}

.border{
    width: 575px;
    height: 763px;
    border: 1px solid black;
    box-sizing: border-box
}
/*로고*/
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
}

.signup-box {
    width: 400px;
    padding: 40px;
    background-color: #FFFFFF;
    box-sizing: border-box;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
}

.form-group input {
    width: 100%;
    padding: 15px;
    font-size: 15px;
    background-color: #D9D9D9;
    border: none;
    box-sizing: border-box;
}

.signup-button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
    background-color: #D9D9D9;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.login-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.login-link span {
    color: #888;
}

.login-link a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
}

.error-message {
    color: #e04a4a; /* 빨간색 에러 메시지 */
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
    height: 12px; /* 메시지가 없어도 공간 차지 */
}