title{
    /*background-color:#FFFFFF;*/
    color:#FFFFFF;
    margin-left:0
    margin-right: auto
    font-size:
    

}

body{
    background-color:
    
}

h1{
    font-size:
    text-align: center;
    margin-left:
    margin-right:
    margin-bottom:
    margin-top:
}
p{

}

div{
    display : block;
    width :1440px;
    height :520px;
    background-color:#000000;
}
