
body {
    font-family: sans-serif;
    display: flex;
    justify-content: center; /*가로 중앙 */
    align-items: center;   /* 세로 중앙 */
    min-height: 100vh;
    background-color: #FFFFFF; /* 바깥 배경색 */
    margin: 0;
}

/* 로그인 폼 영역 */
.login-box {
    width: 320px;
    padding: 30px;
    background-color:#ffffff; /* 흰색 배경 */
    border: 1px solid #dee2e6; /* 옅은 회색 테두리 */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); /* 은은한 그림자 */
}

/* '로그인' 제목 */
h2 {
    font-size: px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 24px;
}


.form-group label {
    display: block; /* 라벨을 한 줄 전체 차지하게 만듦 */
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
}

/* 아이디, 비밀번호 입력창 */
.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%; 
    padding: 12px;
    font-size: 15px;
    background-color: #f1f3f5; 
    border: 1px solid #ced4da; 
    border-radius: 4px; 
    box-sizing: border-box; /* 패딩과 테두리를 포함한 너비 계산 */
    margin-bottom: 16px; /* 입력창 사이의 간격 */
}

/*'자동 로그인' 체크박스와 '아이디 찾기' 링크가 있는 영역 */

.options {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    font-size: 14px;
    color: #495057;
    margin-bottom: 20px;
}

/* '자동 로그인' 체크박스와 텍스트*/
.auto-login {
    display: flex;
    align-items: center;
}

.auto-login input[type="checkbox"] {
    margin-right: 6px; 
}


.login-button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    color: #495057; 
    background-color: #D9D9D9;
    border: 1px solid #ced4da;
    border-radius: 4px;
    cursor: pointer; /* 마우스 올리면 손가락 모양 */
    margin-bottom: 24px;
}

/* 하단 '회원 가입' 영역*/
.signup {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
}

.signup span {
    color: #868e96; /* 옅은 회색 글씨 */
}

.signup a {
    color: #343a40; 
    text-decoration: none; /* 밑줄 제거 */
    font-weight: 500;
}